gem_name <%= name %>

<% unless options[:version].strip == 'none' %>
version_file 'lib/<%= name %>/version.rb'
<% end %>
<% if options[:changelog] %>
changelog_file <%= options[:changelog] %>
<% end %>